/* error message style */
.error { 
   color:red;
}
/* column header style */
.header
{ 
   background-color: steelblue;
   color: white;
   text-align: left;
}
/* row styles */
.oddRows
{
   padding-left: 5px;
   background-color: lightblue;
}
.evenRows
{
   padding-left: 5px;
   background-color: lightpink;
}
/* table style */
.table
{
   width: 100%;
}
/* button style */
.button
{
   border: 1px solid #aaa;
}




